* {
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
}

html { -webkit-text-size-adjust: 100%; }

body {
	margin: .5em;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 0.90rem;
	letter-spacing: 0.035em;
	line-height: 1.25em;
}

header {
	margin-bottom: 2em;
}

a {
	color: blue;
	text-decoration: none;
}

header a {
	color: blue;
	text-decoration: none;
}

.aboutLink {
	position: fixed;
	color: blue;
	top: .5rem;
	right: .5rem;
}

.project:not(:last-of-type) {
	margin-bottom: 2em;
}

.description {
 	max-width: 45em;
	margin-top: .5em;
	white-space: pre-wrap;
}

.about {
	font-family: 'courier new', helvetica, arial, sans-serif;
	max-width: 45em;
	white-space: pre-wrap;
}

img {
	display: block;
	max-width: 100%;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
